td {
	padding: 15px;
}
.games {
	margin: auto;
}
.img {
	width: 250px;height: 352px;
		transition: width 1s, height 1s;
	margin: 5px 5px;
}
.img:hover {
	width: 312px;height: 440px;
}
.test {
	max-width: 950px;
	margin: auto;
}