td {
	padding: 15px;
}
.games {
	margin: auto;
}
.minecraft, .mec, .sh, .bac, .spore, .ds, .rl, .gmod, .civ {
	width: 250px;height: 352px;
		transition: width 1s, height 1s;
	margin: 5px 5px;
}
.minecraft:hover, .mec:hover, .sh:hover, .bac:hover, .spore:hover, .ds:hover, .rl:hover, .gmod:hover, .civ:hover {
	width: 312px;
	height: 440px;
}
.test {
	max-width: 950px;
	margin: auto;
}